$mainFont: 'Roboto', sans-serif;

/* -- PLIK TYPOGRAPHY, mixin h2 -- */
@mixin hTwo ($H2_font_size){
  font-size: $H2_font_size;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 10px;
}

/* SECTION CONTAINER */
%sectionContainer {
  background-color: $majorBackgroundColor;
  color: $hoverColor;
  text-align: left;
}

/* -- PLIK BUTTON -- */
@mixin button($bt_width, $bt_bcg_color, $bt_font_color, $bt_font_size, $padding_vert, $padding_horiz) {
  width: $bt_width;
  background-color: $bt_bcg_color;
  color: $bt_font_color;
  border-radius: 5px;
  font-size: $bt_font_size;
  padding: $padding_vert $padding_horiz;
}


/* --- PLIK PROGRES_ELEM, PODSTAWOWE TŁO ELEMENTÓW --- */
@mixin progress_elem($bcg_image) {
  list-style: none;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  background: {
    image: $bcg_image;
    size: contain;
    repeat: no-repeat;
  }
  position: relative;
  margin-bottom: 10px;
}