/* SECTION: FINANCE LIFE STREAM */

.stream_container {
  background-color: $majorBackgroundColor;
  color: $hoverColor;
  font-family: 'Roboto', sans-serif, 'existencelight', Arial, Helvetica, sans-serif;
  text-align: left;
}

.history_container {
  background-color: white;
  color: black;
  max-height: 400px;        //robi się scroll, trzyma wysokośc

  ul {
    list-style: none;
  }

}

h3 {
  color: black;
  float: left;
  padding-left: 30px;
}

.history_date {
  background-color: blue;
}

.history_payment {
  background-color: yellow;
  height: 50px;
}

.history_value {
  background-color: deeppink;
}