/* SECTION: FINANCE LIFE STREAM */

.stream_container, .products_history_container {
  @extend %sectionContainer;
  //font-family: 'Roboto', sans-serif, 'existencelight', Arial, Helvetica, sans-serif;
}

.products_history_container {
  height: 350px;
  padding-bottom: 30px;
}

.stream_chart {
  margin: 15px 0;
}

.dashboard_buttons_container span {
  margin-right: 10px;
}