.summary_container, .account_options_container, .awards_container {
  @extend %sectionContainer;
}

.buttons_container {
  margin-top: 30px;
  float: right;
}

@media only screen and (max-width: 640px) {
  .buttons_container {
    float: left;
  }
}

.flex_container {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .filling_empty_space_childs {
    width:150px;                      //width of pics
    height:0;
    list-style: none;
  }
}

.awards_container {
  padding-bottom: 110px;
}

