.summary_container, .account_options_container, .awards_container {
  background-color: $majorBackgroundColor;
  color: $hoverColor;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  padding-left: 0;
}

.summary_values {
  font-weight: 700;
}

.bolderH3 {
  font-weight: 700;
}

.flex_container {
  display: flex;
  flex-flow: row;

  .flex_item {

  }
}