.avatar_round {
  width: 96px;
  margin: 85px auto 20px auto;
  background-color: $fontColor;
  border-radius: 50%;
  padding: 48px 0;
}

.avatar_square {
  max-width: 70px;

  a {
    height: 70px;
    margin: 20px auto;

    img {
      border-radius: 5px;
    }
  }
}

.tooltip {
  border-radius: 5px;
}