/* -- BUTTONY Z LOGIN PAGE -- */
.button {
  width: 120px;
  height: 30px;
  background-color: $fontColor;
  color: $hoverColor;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 10px 5px;
  box-sizing: padding-box;
}

.button:focus{
  background-color: $mainColor;
  color: $fontColor;
}

.button:hover {
  background-color: $lightMainColor;
  color: $hoverColor;
}

/* -- BUTTONY Z DASHBOARD I GRYWALIZACJA, OPCJE UŻYTKOWNIKA, PRAWY PANEL -- */


                          /* --- !!!!ZROBIĆ MIXIN I WYWALIĆ CZĘŚĆ KODU!!! --- */

.option_button {
  width: auto;
  background-color: $mainColor;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 8px 15px;
  color: $fontColor;
}

.button.secondary {
 background-color: $secondaryButtonColor;
}

.option_button:focus {
  color: $hoverColor;
}

.option_button:hover, .button.secondary:hover {
  background-color: $fontColor;
  color: black;
}