/* -- BUTTONY Z LOGIN PAGE -- */
.button {
  @include button(120px, $fontColor, $hoverColor, 0.9rem, 10px, 5px);
  height: 30px;
  margin-top: 20px;
  box-sizing: padding-box;
}

.button.warning {
  background-color: $mainColor;
}

.button:focus{
  background-color: $mainColor;
  color: $fontColor;
}

.button:hover {
  background-color: $hoverLighterColor;
  color: $fontColor;
}

/* -- BUTTONY Z DASHBOARD I GRYWALIZACJA, OPCJE UŻYTKOWNIKA, PRAWY PANEL -- */
.option_button {
  @include button(auto, $mainColor, $fontColor, 0.8rem, 8px, 15px);
}

#button_all {
  margin-left: 20px;
  margin-right: 15px;
}

.button.secondary {
 background-color: $secondaryButtonColor;
}

.option_button:focus {
  color: $hoverColor;
}

.option_button:hover, .button.secondary:hover {
  background-color: $fontColor;
  color: black;
}

@media only screen and (min-width: 640px) and (max-width: 780px) {
  #button_all {
    margin-left: 0;
    margin-right: 0;
  }

  .option_button {
    padding: 8px 10px;
  }
}
