.dashboard_header_container {
  background-color: $mainColor;
  max-height: 110px;

}

.dashboard_header_container_small {
  background-color: $hamburgerBackgroundColor;
}

.usrname {
  text-align: left;
  display: block;
  margin-top: 20px;
  height: 40px;
  line-height: 1rem;
}


.search_power_outer_container {
  height: 110px;
  position: relative;

  .search_power_inner_container {
    display: inline-block;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 0;     // useful when SEARCH icon present: removes white space between span elems
    width: 100%;
  }
}

.power_icon {
  border-left: 1px solid rgba(255,255,255,0.5);
  float: right;
  display: inline-block;
  height: 70px;

  img {
    padding: 20px 0 0 25px;
    height: 30px;
    box-sizing: content-box;
  }
}

.search_icon {
  display: inline-block;
  margin-left: 130px;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.power_icon a img {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.power_icon a img:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

