.dashboard_header_container {
  background-color: $mainColor;
  max-height: 110px;

}

.dashboard_header_container_small {
  background-color: $hamburgerBackgroundColor;
}

.usrname {
  text-align: left;
  display: block;
  margin-top: 20px;
  height: 40px;
  line-height: 1rem;
}


.search_power_outer_container {
  height: 110px;
  position: relative;

  .search_power_inner_container {
    display: inline-block;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    //font-size: 0;     // useful when SEARCH icon present: removes white space between span elems
    width: 100%;
  }
}

.power_icon {
  border-left: 1px solid rgba(255,255,255,0.5);
  float: right;
  display: inline-block;
  height: 70px;

  img {
    padding: 20px 0 0 25px;
    height: 30px;
    box-sizing: content-box;
  }
}


