/* -- KWADRATOWE ELEMENTY ZE STRONY GRYWALIZACJA -- */

.account_options_elem {
  @include progress_elem(url("../images/icons/adding_banks.png"))
}

.awards_elem {
  @include progress_elem(url("../images/icons/prize_badge.png"));
}

.tick, .percentage, .lock, .stars_container, .elem_name {
  z-index: 3;
  position: absolute;
  padding: 10px;
  color: $hoverColor;
}

.elem_name {
  padding: 10px 5px;
}

.with_picture {
  color: $fontColor;
}

.percentage, .tick {
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 4rem;
  line-height: 1;
}

.tick_hidden {
  display: none;
}

.percentage_hidden {
  display: none;
}

.account_options_elem:hover, .awards_elem:hover {
  -webkit-box-shadow: 0 0 10px 0 #555;
  -moz-box-shadow: 0 0 10px 0 #555;
  box-shadow: 0 0 10px 0 #555;
}

.lock {
  right: 0;
  max-width: 2.5rem;
}

.stars_container {
  right: 0;
  width: 5rem;
  .stars {
    float: right;
    display: inline-block;
    max-width: 30%;
    padding: 0 1px;
  }
}

.elem_name {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 500;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.progressing_color {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  right: 0;
  background-color: $mainColor;
  z-index: 2;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.progressing_image img{
  border-radius: 5px;
}

.front {
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: $fontColor;
  border-radius: 5px;
}

.front:hover {
  opacity: 0.3;
}

/* -- ELEMS WITH PARTIALLY HIDDEN BCG PIC WITH BY BLUE'ISH "PROGRESS BAR" -- */
.account_options_elem:nth-child(4) > .progressing_color {
  width: 90%;
}

.account_options_elem:nth-child(5) > .progressing_color {
  width: 52%;
}

.awards_elem:nth-child(2) > .progressing_color {
  width: 34%;
}