.switch_container {
  margin-top: 50px;
  float: right;

  span {
    display: inline-block;
  }

  .switch {
    display: inline-block;
    margin-bottom: -10px;
  }
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/* -- pierwsza, podstawowa warstwa na spodzie --*/
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 35px;
  //background-color: $switchGreen;   zielona obwódka, gdy guzik po lewej
  border-radius: 5px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 5px;
  transition: background 0.4s;
  content: "OFF ON";
  word-spacing: 12px;
  font-size: 1rem;
  padding-left: 6px;
}
/* -- guzik w przesunięty na lewo -- */
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40px;
  background-color: $switchGreen;
  border-radius: 5px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #dddddd;
}

/* -- guzik w przesuwany na prawo -- */
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 32px;
  background-color: #dddddd;
}