/* -- HEADER ELEMS WITH OPTIONS FOR USER: MAIL BOX, SETTINGS, AWARDS -- */
.usroptions {
  display: inline-block;
  position: relative;
  width: 100%;

  a img {
    height: 20px;
  }
}

.mail_box {
  transition: all .2s ease-in-out;

  span {
    position: absolute;
    bottom: 2px;
    left: 10px;
    z-index: 1;
  }

  a {
    position: absolute;
    top: -17px;
    left: 0;
  }

}

.mail_box:hover {
  transform: scale(1.1);
}

.messageCount {
  background-color: $messageCount;
  font-weight: bold;
}

.settings {
  img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.award a:hover {
  background: {
    image: url("../images/icons/award_ribbon_hover.png");
    repeat: no-repeat;
    size: cover;
  }
}